<h1>carrito</h1>

<ul class="list-unstyled">
    <li><i class="bi bi-file-text"></i> Id Carrito: {{this._id}}</li>  
    <li><i class="bi bi-currency-dollar"></i> Productos: {{this.products}}</li>
</ul>